#dash-bar-container {
    width: 200px;
    height: 25px;
    background-color: #222;
    border-radius: 12px;
    position: absolute;
    bottom: 30px;
    left: 30px;
}

#dash-bar-fill {
    width: 100%;
    height: 100%;
    background-color: #00BCD4;
    border-radius: 12px;
}

#dash-text {
    position: absolute;
    bottom: 60px;
    left: 30px;
    color: white;
    font-size: 50px;
    font-weight: bold;
}